{% set title = 'Шаблон сайта M.COMMERCE' %}
{% set description = 'Шаблон сайта M.COMMERCE' %}
{% set keywords = '' %}
{% set activeTopBar = '/' %}

{% extends '../layouts/index.njk' %}

{% block content %}
	<h1 class="page-main__heading page-main__heading_main">Ножи, товары для рыбалки и туризма</h1>

	<section class="page-main__section promo">
		<h2 class="visually-hidden">Самое важное</h2>

		<article class="promo__item promo__item_small timer">
			<a href="#" class="timer__link">
				<h3 class="visually-hidden">Распродажа</h3>
			</a>
			<p class="timer__heading">Распродаем последние модели уходящего года!</p>
			<time datetime="2020-07-05 19:00" class="timer__time">до 5 июля</time>
			<a href="#" class="timer__button button">Смотреть товары</a>
		</article>

		<div class="promo__item promo__item_large slider">
			<article class="slider__item">
				<h3 class="visually-hidden">Новые поступления</h3>
				
				<div class="slider__img">
					<img src="/img/slider/1.jpg" alt="Новые поступления">
				</div>
				
				<div class="slider__description">
					<p class="slider__heading">Наконец-то!</p>
					<p class="slider__text">Нож Garberg поступил в производство и выходит на рынок</p>
				</div>
				
				<a href="#" class="slider__link">
					<span class="visually-hidden">Смотреть поступления</span>
				</a>
			</article>

			<article class="slider__item">
				<h3 class="visually-hidden">Новые поступления</h3>
				<img src="/img/slider/2.jpg" alt="Новые поступления" class="slider__img">
				<p class="slider__heading">Наконец-то!</p>
				<p class="slider__text">Нож Garberg поступил в производство и выходит на рынок</p>
				<a href="#" class="slider__link">
					<span class="visually-hidden">Смотреть поступления</span>
				</a>
			</article>

			<article class="slider__item">
				<h3 class="visually-hidden">Новые поступления</h3>
				<img src="/img/slider/3.jpg" alt="Новые поступления" class="slider__img">
				<p class="slider__heading">Наконец-то!</p>
				<p class="slider__text">Нож Garberg поступил в производство и выходит на рынок</p>
				<a href="#" class="slider__link">
					<span class="visually-hidden">Смотреть поступления</span>
				</a>
			</article>
		</div>

		<article class="promo__item promo__item_small card">
			<div class="card__img">
				<img src="/img/catalog/1.jpg" alt="">
			</div>

			<h3 class="card__heading">
				<a href="/catalog/category/item/" class="card__link">Нож 3305 РG "MORA KNIFE" Lime</a>
			</h3>

			<p class="card__price">2 450 руб.</p>

			<div class="card__buttons">
				<a href="/add-to-cart/" class="card__button button">В корзину</a>
				<a href="/add-to-favorites/" class="card__favorites ico-button ico-button_small ico-button_favorites">
					<span class="visually-hidden">Добавить в избранное</span>
				</a>
				<a href="/add-to-compare/" class="card__compare ico-button ico-button_small ico-button_compare">
					<span class="visually-hidden">Добавить к сравнению</span>
				</a>
			</div>
		</article>

		<div class="promo__item box" style="background-image: url(https://picsum.photos/380/215?random=4)">
			<a href="#" class="box__link">Наши покупатели</a>
		</div>

		<div class="promo__item box" style="background-image: url(/img/bg/choose.png)">
			<a href="#" class="box__link">Подобрать нож</a>
		</div>

		<div class="promo__item box" style="background-image: url(https://picsum.photos/380/215?random=6)">
			<a href="#" class="box__link">Часто задаваемые вопросы</a>
		</div>
	</section>

	<section class="page-main__section section">
		<h2 class="section__heading">Популярные товары</h2>

		<ul class="section__cards cards">
			<li class="cards__item">
				<article class="promo__item promo__item_small card">
					<div class="card__img">
						<img src="/img/catalog/2.jpg" alt="">
					</div>
					<h3 class="card__heading">
						<a href="/catalog/category/item/" class="card__link">Нож 3305 РG "MORA KNIFE" Lime</a>
					</h3>
					<p class="card__price">2 450 руб.</p>

					<div class="card__buttons">
						<a href="/add-to-cart/" class="card__button button">В корзину</a>
						<a href="/add-to-favorites/" class="card__favorites ico-button ico-button_small ico-button_favorites">
							<span class="visually-hidden">Добавить в избранное</span>
						</a>
						<a href="/add-to-compare/" class="card__compare ico-button ico-button_small ico-button_compare">
							<span class="visually-hidden">Добавить к сравнению</span>
						</a>
					</div>
				</article>
			</li>

			<li class="cards__item">
				<article class="promo__item promo__item_small card">
					<div class="card__img">
						<img src="/img/catalog/3.jpg" alt="">
					</div>
					<h3 class="card__heading">
						<a href="/catalog/category/item/" class="card__link">Нож 3305 РG "MORA KNIFE" Lime</a>
					</h3>
					<p class="card__price">1 343 руб.</p>

					<div class="card__buttons">
						<a href="/add-to-cart/" class="card__button button">В корзину</a>
						<a href="/add-to-favorites/" class="card__favorites ico-button ico-button_small ico-button_favorites">
							<span class="visually-hidden">Добавить в избранное</span>
						</a>
						<a href="/add-to-compare/" class="card__compare ico-button ico-button_small ico-button_compare">
							<span class="visually-hidden">Добавить к сравнению</span>
						</a>
					</div>
				</article>
			</li>

			<li class="cards__item">
				<article class="promo__item promo__item_small card">
					<div class="card__img">
						<img src="/img/catalog/4.jpg" alt="">
					</div>
					<h3 class="card__heading">
						<a href="/catalog/category/item/" class="card__link">Нож 3305 РG "MORA KNIFE" Lime</a>
					</h3>
					<p class="card__price">12 450 руб.</p>

					<div class="card__buttons">
						<a href="/add-to-cart/" class="card__button button">В корзину</a>
						<a href="/add-to-favorites/" class="card__favorites ico-button ico-button_small ico-button_favorites">
							<span class="visually-hidden">Добавить в избранное</span>
						</a>
						<a href="/add-to-compare/" class="card__compare ico-button ico-button_small ico-button_compare">
							<span class="visually-hidden">Добавить к сравнению</span>
						</a>
					</div>
				</article>
			</li>

			<li class="cards__item">
				<article class="promo__item promo__item_small card">
					<div class="card__img">
						<img src="/img/catalog/5.jpg" alt="">
					</div>
					<h3 class="card__heading">
						<a href="/catalog/category/item/" class="card__link">Нож 3305 РG "MORA KNIFE" Lime</a>
					</h3>
					<p class="card__price">2 450 руб.</p>

					<div class="card__buttons">
						<a href="/add-to-cart/" class="card__button button">В корзину</a>
						<a href="/add-to-favorites/" class="card__favorites ico-button ico-button_small ico-button_favorites">
							<span class="visually-hidden">Добавить в избранное</span>
						</a>
						<a href="/add-to-compare/" class="card__compare ico-button ico-button_small ico-button_compare">
							<span class="visually-hidden">Добавить к сравнению</span>
						</a>
					</div>
				</article>
			</li>

			<li class="cards__item">
				<article class="promo__item promo__item_small card">
					<div class="card__img">
						<img src="/img/catalog/6.jpg" alt="">
					</div>
					<h3 class="card__heading">
						<a href="/catalog/category/item/" class="card__link">Нож 3305 РG "MORA KNIFE" Lime</a>
					</h3>
					<p class="card__price">2 450 руб.</p>

					<div class="card__buttons">
						<a href="/add-to-cart/" class="card__button button">В корзину</a>
						<a href="/add-to-favorites/" class="card__favorites ico-button ico-button_small ico-button_favorites">
							<span class="visually-hidden">Добавить в избранное</span>
						</a>
						<a href="/add-to-compare/" class="card__compare ico-button ico-button_small ico-button_compare">
							<span class="visually-hidden">Добавить к сравнению</span>
						</a>
					</div>
				</article>
			</li>

			<li class="cards__item">
				<article class="promo__item promo__item_small card">
					<div class="card__img">
						<img src="/img/catalog/7.jpg" alt="">
					</div>
					<h3 class="card__heading">
						<a href="/catalog/category/item/" class="card__link">Нож 3305 РG "MORA KNIFE" Lime</a>
					</h3>
					<p class="card__price">2 450 руб.</p>

					<div class="card__buttons">
						<a href="/add-to-cart/" class="card__button button">В корзину</a>
						<a href="/add-to-favorites/" class="card__favorites ico-button ico-button_small ico-button_favorites">
							<span class="visually-hidden">Добавить в избранное</span>
						</a>
						<a href="/add-to-compare/" class="card__compare ico-button ico-button_small ico-button_compare">
							<span class="visually-hidden">Добавить к сравнению</span>
						</a>
					</div>
				</article>
			</li>

			<li class="cards__item">
				<article class="promo__item promo__item_small card">
					<div class="card__img">
						<img src="/img/catalog/8.jpg" alt="">
					</div>
					<h3 class="card__heading">
						<a href="/catalog/category/item/" class="card__link">Нож 3305 РG "MORA KNIFE" Lime</a>
					</h3>
					<p class="card__price">2 450 руб.</p>

					<div class="card__buttons">
						<a href="/add-to-cart/" class="card__button button">В корзину</a>
						<a href="/add-to-favorites/" class="card__favorites ico-button ico-button_small ico-button_favorites">
							<span class="visually-hidden">Добавить в избранное</span>
						</a>
						<a href="/add-to-compare/" class="card__compare ico-button ico-button_small ico-button_compare">
							<span class="visually-hidden">Добавить к сравнению</span>
						</a>
					</div>
				</article>
			</li>

			<li class="cards__item">
				<article class="promo__item promo__item_small card">
					<div class="card__img">
						<img src="/img/catalog/9.jpg" alt="">
					</div>
					<h3 class="card__heading">
						<a href="/catalog/category/item/" class="card__link">Нож 3305 РG "MORA KNIFE" Lime</a>
					</h3>
					<p class="card__price">2 450 руб.</p>

					<div class="card__buttons">
						<a href="/add-to-cart/" class="card__button button">В корзину</a>
						<a href="/add-to-favorites/" class="card__favorites ico-button ico-button_small ico-button_favorites">
							<span class="visually-hidden">Добавить в избранное</span>
						</a>
						<a href="/add-to-compare/" class="card__compare ico-button ico-button_small ico-button_compare">
							<span class="visually-hidden">Добавить к сравнению</span>
						</a>
					</div>
				</article>
			</li>
		</ul>
	</section>

	<section class="page-main__section page-main__section_wide video">
		<h2 class="video__heading">Morakniv Kansbol</h2>
		<p class="video__text">The long tradition of Scandinavian outdoor recreation makes Kansbol a reliable partner when the wilderness beckons. Whether you need to make wood splints for the fire, or need to skin a moose, this flexible model will perform. A knife designed in the true Morakniv spirit.</p>
		<a href="#" class="video__link">
			<span class="visually-hidden">Смотреть видео</span>
		</a>
	</section>

	<section class="page-main__section brands">
		<h2 class="brands__heading">Наши бренды</h2>

		<ul class="brands__list">
			<li class="brands__item">
				<img src="https://picsum.photos/152/46" alt="Название бренда" class="brands__img">
				<a href="#" class="brands__link">
					<span class="visually-hidden">Название бренда</span>
				</a>
			</li>
			<li class="brands__item">
				<img src="https://picsum.photos/107/61" alt="Название бренда" class="brands__img">
				<a href="#" class="brands__link">
					<span class="visually-hidden">Название бренда</span>
				</a>
			</li>
			<li class="brands__item">
				<img src="https://picsum.photos/144/74" alt="Название бренда" class="brands__img">
				<a href="#" class="brands__link">
					<span class="visually-hidden">Название бренда</span>
				</a>
			</li>
			<li class="brands__item">
				<img src="https://picsum.photos/157/71" alt="Название бренда" class="brands__img">
				<a href="#" class="brands__link">
					<span class="visually-hidden">Название бренда</span>
				</a>
			</li>
		</ul>
	</section>

	<section class="page-main__section section">
		<h2 class="section__heading">О компании</h2>
		<div class="section__content">
			<p> Компания "Хогер"  работает на рынке Камчатского края с 2004 года. Основным направлением нашей деятельности с момента образования являлось комплексное снабжение рыбодобывающих и рыбоперерабатывающих предприятий.</p>
			<p>За время своего существования мы зарекомендовали себя как надежный партнер, а также стабильно и динамично развивающаяся компания. В настоящее время, благодаря активному развитию, нашими клиентами стали не только предприятия рыбной отрасли, но и образовательные, медицинские и госучреждения, а также муниципальные и строительные предприятия. Таким образом, наш ассортимент товара позволяет нам обеспечить широкий круг предприятий нашего города.</p>
		</div>
	</section>
{% endblock %}
