.box {
	--box-color: var(--color-white);
	--box-bg: var(--color-accent);
	--box-gradient: linear-gradient(90deg, hsla(var(--color-accent-hsl), .75), hsla(var(--color-primary-hsl), .75));

	position: relative;
	z-index: 0;

	display: flex;
	align-items: flex-end;
	min-height: 200px;
	overflow: hidden;

	background-size: cover;
	border-radius: 2px;

	&:focus-within {
		outline: 2px solid var(--color-accent);
		outline-offset: 2px;
	}
}

.box__link {
	flex-grow: 1;
	padding: 10px 16px;

	color: var(--box-color);
	background-image: var(--box-gradient);

	text-align: center;
	text-transform: uppercase;
	font-weight: 500;

	transition: background-color 250ms;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;

		background-color: var(--box-bg);
		border-radius: 2px;
		opacity: 0;

		transition: opacity 250ms;
	}

	&:hover {
		background-color: var(--box-bg);

		&::before {
			opacity: .3;
		}
	}

	&:focus {
		outline: none;
	}
}
