.brands {
	padding: 32px;

	background-color: var(--color-white);
	border-radius: 2px;
}

.brands__heading {
	margin-bottom: 40px;

	text-align: center;
	font-size: 32px;
}

.brands__list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	align-items: center;
	gap: 16px;
	margin: 0;
	padding: 0 24px;

	list-style: none;
}

.brands__item {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;

	text-align: center;

	transition: opacity 250ms;

	&:hover {
		opacity: .7;
	}

	&:focus-within {
		outline: 2px solid var(--color-accent);
		outline-offset: 2px;
	}
}

.brands__link {
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	&:focus {
		outline: none;
	}
}

.brands__img {
	display: block;
}
