.breadcrumbs {
    display: flex;
    padding: 0;

    list-style: none;

    font-size: 14px;
}

.breadcrumbs__item {
    position: relative;

    & + & {
        margin-left: 32px;

        &::before {
            content: '';
            position: absolute;
            top: 1px;
            left: -24px;

            width: 18px;
            height: 18px;

            background-size: contain;
            background-image: url(../img/ico/chevron_right-24px.svg);
        }
    }
}

.breadcrumbs__link {
    color: var(--color-secondary);

    &:hover {
        color: var(--color-primary);
    }
}
