.card {
	--card-color: var(--color-black);
	--card-bg: var(--color-white);

	position: relative;
	z-index: 1;

	background-color: var(--card-bg);
	border-radius: 2px;

	&:focus-within {
		z-index: 2;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: -56px;
			left: 0;

			outline: 2px solid var(--color-accent);
			outline-offset: 2px;
		}
	}
}

.card__img {
	display: flex;
	height: 200px;
	margin-bottom: 16px;
	object-fit: cover;

	img {
		width: 100%;
		border-radius: 2px 2px 0 0;
	}
}

.card__heading {
	padding: 0 20px;

	font-size: 16px;
	font-weight: 500;
}

.card__price {
	margin: 0;
	padding: 0 20px 8px;

	background-color: var(--card-bg);

	font-size: 32px;
	font-weight: 500;
}

.card__link {
	color: var(--card-color);

	&::before {
		content: '';

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	&:hover,
	&:focus {
		color: var(--color-primary);
	}

	&:focus {
		outline: none;
	}
}

.card__buttons {
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: -1;

	display: flex;
	align-items: center;
	padding: 8px 10px 8px 20px;

	background-color: var(--color-white);
	opacity: 0;

	transform: translateY(-100%) scaleY(.5);
	transition: transform 250ms, opacity 250ms;

	&:hover,
	&:focus-within,
	.card:hover &,
	.card:focus-within & {
		opacity: 1;
		transform: translateY(0) scaleY(1);
	}
}

.card__button {
	margin-right: auto;
}
