.catalog-menu {
	display: flex;
	padding: 0;

	list-style: none;

	font-size: 20px;
}

.catalog-menu__submenu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 2;

	display: grid;
	grid-auto-flow: column;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	width: 100%;
	margin: -24px 0 0;
	padding: 16px calc((100% - var(--page-max-width)) / 2 - 16px);
	visibility: hidden;

	background-color: var(--color-white);
	border-top: 2px solid var(--color-gray-50);
	list-style: none;
	opacity: 0;

	transform: translateY(32px);
	transition: transform 250ms, opacity 250ms, visibility 1ms linear 250ms;

	.catalog-menu__item:hover & {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
		transition: transform 250ms, opacity 250ms;
	}

	.catalog-menu__item:last-child {
		grid-row: span 2;
	}
}

.catalog-menu__link {
	display: block;
	padding: 10px 16px;

	color: var(--color-black);
	border-radius: 2px 2px 0 0;

	transition: background-color 250ms;

	&:hover,
	&:focus {
		outline-offset: 0;
		color: var(--color-primary);
	}

	li:hover > &,
	li:focus-within > & {
		background-color: var(--color-gray-50);
	}
}
