.contacts {
	padding: 0;
	list-style: none;

	text-align: right;
}

.contacts_large {
    font-size: 20px;
}

.contacts__link {
	color: var(--color-black);

	&:hover {
		color: var(--color-primary);
	}
}
