.ico-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 46px;

	background-color: transparent;
	background-size: 32px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border: none;
	border-radius: 2px;

	transition: background-color 250ms;

	&:hover {
		background-color: var(--color-gray-50);
	}
}

.ico-button_small {
	width: 40px;
	height: 40px;

	background-size: 24px;
}

.ico-button_login {
	background-image: url('../img/ico/person-24px.svg');
}

.ico-button_cart {
	background-image: url('../img/ico/shopping_cart-24px.svg');
}

.ico-button_favorites {
	background-image: url('../img/ico/star_border-24px.svg');
}

.ico-button_compare {
	background-image: url('../img/ico/playlist_add-24px.svg');
}

.ico-button__badge {
	display: block;
	width: 18px;
	height: 18px;
	margin: -24px -24px 0 0;

	color: var(--color-white);
	background-color: var(--color-primary);
	border-radius: 50%;

	font-size: 12px;
	text-align: center;
	font-weight: 500;
}

.ico-button_menu {
	&::after {
		content: '';
		width: 20px;
		height: 3px;

		background-color: var(--color-black);
		border-radius: 2px;
		box-shadow: 0 6px var(--color-black), 0 -6px var(--color-black);

		transition: box-shadow 250ms;
	}

	&:hover::after {
		box-shadow: 0 8px var(--color-black), 0 -8px var(--color-black);
	}
}
