.page-main {
	padding: 32px;
}

.page-main__heading {
	max-width: var(--page-max-width);
	margin: 0 auto 32px;
	padding: 12px 0;

	text-align: center;
}

.page-main__section {
	max-width: var(--page-max-width);
	margin: 0 auto;

	&:not(:last-child) {
		margin-bottom: 64px;
	}
}

.page-main__section_wide {
	max-width: none;
	margin: 0 -32px;
}
