.page-header {
	position: relative;

	padding: 60px 32px 24px;
}

.page-header__info {
	display: flex;
	align-items: center;
	max-width: var(--page-max-width);
	margin: 0 auto 40px;
}

.page-header__logo {
	margin-right: auto;
}

.page-header__contacts {
	margin: 0 24px 0 0;
}

.page-header__nav {
	display: flex;
	align-items: center;
	max-width: var(--page-max-width);
	margin: 0 auto;
}

.page-header__catalog-menu {
	margin: 0 auto 0 0;
}

.page-header__login {
	margin-left: 8px;
}

.page-header__cart {
	margin-left: 8px;
}
