.slider {
	display: flex;

	color: var(--color-white);
}

.slider__item {
	position: relative;

	flex-grow: 1;

	border-radius: 2px;

	&:not(:first-child) {
		display: none;
	}

	&:focus-within {
		outline: 2px solid var(--color-primary);
		outline-offset: 2px;
	}
}

.slider__img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: flex;
	justify-content: center;
	overflow: hidden;

	border-radius: 2px;

	img {
		max-width: none;
	}
}

.slider__description {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;

	padding: 20px 200px 20px 20px;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;

		background-color: var(--color-primary);
		background-image: linear-gradient(80deg, transparent, var(--color-purple));
		border-radius: 0 0 2px 2px;
		opacity: .7;

		transition: opacity 250ms;
	}

	.slider__item:hover &::after {
		opacity: .9;
	}
}

.slider__heading {
	font-size: 36px;
	line-height: 1.2;
}

.slider__text {
	margin-bottom: 0;
}

.slider__link {
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	&:focus {
		outline: none;
	}
}
