.slider {
	--slider-bg: hsla(var(--color-primary-hsl), .75);
	--slider-gradient: linear-gradient(80deg, transparent, hsla(var(--color-accent-hsl), .75));

	display: flex;

	color: var(--color-white);
}

.slider__item {
	position: relative;

	flex-grow: 1;
	display: flex;
	align-items: flex-end;
	overflow: hidden;

	border-radius: 2px;

	&:not(:first-child) {
		display: none;
	}

	&:hover {
		--slider-bg: var(--color-primary);
	}

	&:focus-within {
		outline: 2px solid var(--color-accent);
		outline-offset: 2px;
	}
}

.slider__img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: flex;
	justify-content: center;
	overflow: hidden;

	border-radius: 2px;

	img {
		max-width: none;
	}
}

.slider__description {
	position: relative;
	z-index: 0;

	padding: 20px 200px 20px 20px;

	background-color: var(--slider-bg);
	background-image: var(--slider-gradient);

	transition: background-color 250ms;
}

.slider__heading {
	font-size: 36px;
	line-height: 1.2;
}

.slider__text {
	margin-bottom: 0;
}

.slider__link {
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	&:focus {
		outline: none;
	}
}
