<header class="page__header page-header">
	<div class="page-header__info">
		<a href="/" class="page-header__logo">
			<img src="/img/logo.svg" alt="M.COMMERCE" width="360" height="49">
		</a>

		<ul class="page-header__contacts contacts">
			<li class="contacts__item">
				<a href="tel:89991234567" class="contacts__link">8 999 123-45-67</a>
			</li>
			<li class="contacts__item">
				<a href="mailto:hello@frontend-design.ru" class="contacts__link">hello@frontend-design.ru</a>
			</li>
		</ul>

		<a href="/callback/" class="page-header__callback button button_black button_hollow">Заказать звонок</a>
	</div>

	<nav class="page-header__nav">
		<div class="page-header__site-menu site-menu">
			<button type="button" class="site-menu__button ico-button ico-button_menu">
				<span class="visually-hidden">Меню</span>
			</button>

			<ul class="site-menu__list">
				<li class="site-menu__item">
					<a href="/" class="site-menu__link">О компании</a>
				</li>
				<li class="site-menu__item">
					<a href="/" class="site-menu__link">Оплата и доставка</a>
				</li>
				<li class="site-menu__item">
					<a href="/" class="site-menu__link">Наши клиенты</a>
				</li>
				<li class="site-menu__item">
					<a href="/" class="site-menu__link">Обратная связь</a>
				</li>
				<li class="site-menu__item">
					<a href="/" class="site-menu__link">Карта сайта</a>
				</li>
				<li class="site-menu__item">
					<a href="/" class="site-menu__link">Карта сайта</a>
				</li>
			</ul>
		</div>

		<ul class="page-header__catalog-menu catalog-menu">
			<li class="catalog-menu__item">
				<a href="/catalog/" class="catalog-menu__link">Ножи</a>

				<ul class="catalog-menu__submenu">
					<li class="catalog-menu__item">
						<a href="/catalog/category/" class="catalog-menu__link">Разделочные ножи</a>
					</li>
					<li class="catalog-menu__item">
						<a href="/catalog/category/" class="catalog-menu__link">Ножи для туризма</a>
					</li>
					<li class="catalog-menu__item">
						<a href="/catalog/category/" class="catalog-menu__link">Ножи для туризма</a>
					</li>
					<li class="catalog-menu__item">
						<a href="/catalog/category/" class="catalog-menu__link">Поварские ножи</a>
					</li>
					<li class="catalog-menu__item">
						<a href="/catalog/category/" class="catalog-menu__link">Прочие</a>
					</li>
					<li class="catalog-menu__item">
						<a href="/catalog/category/" class="catalog-menu__link">Аксессуары</a>
					</li>
				</ul>
			</li>
			<li class="catalog-menu__item">
				<a href="/catalog/" class="catalog-menu__link">Перчатки</a>

				<ul class="catalog-menu__submenu">
					<li class="catalog-menu__item">
						<a href="/catalog/category/" class="catalog-menu__link">Разделочные ножи</a>
					</li>
					<li class="catalog-menu__item">
						<a href="/catalog/category/" class="catalog-menu__link">Ножи для туризма</a>
					</li>
					<li class="catalog-menu__item">
						<a href="/catalog/category/" class="catalog-menu__link">Поварские ножи</a>
					</li>
					<li class="catalog-menu__item">
						<a href="/catalog/category/" class="catalog-menu__link">Прочие</a>
					</li>
					<li class="catalog-menu__item">
						<a href="/catalog/category/" class="catalog-menu__link">Аксессуары</a>
					</li>
				</ul>
			</li>
			<li class="catalog-menu__item">
				<a href="/catalog/" class="catalog-menu__link">Оборудование</a>
			</li>
			<li class="catalog-menu__item">
				<a href="/catalog/" class="catalog-menu__link">Сети и аксессуары</a>
			</li>
			<li class="catalog-menu__item">
				<a href="/catalog/" class="catalog-menu__link">Консерванты</a>
			</li>
			<li class="catalog-menu__item">
				<a href="/catalog/" class="catalog-menu__link">Одежда</a>
			</li>
		</ul>

		<a href="/login/" class="page-header__login ico-button ico-button_login">
			<span class="visually-hidden">Войти</span>
		</a>

		<a href="/login/" class="page-header__cart ico-button ico-button_cart">
			<span class="visually-hidden">Корзина</span>
			<span class="ico-button__badge"><span class="visually-hidden">Товаров: </span>3</span>
		</a>
	</nav>
</header>
