<footer class="page__footer page-footer">
	<section class="page-footer__social social">
		<h2 class="visually-hidden">Социальные сети</h2>

		<ul class="social__list">
			<li class="social__item">
				<a href="#" class="social__link">
					<span class="visually-hidden">Instagram</span>
				</a>
			</li>
			<li class="social__item">
				<a href="#" class="social__link">
					<span class="visually-hidden">В контакте</span>
				</a>
			</li>
			<li class="social__item">
				<a href="#" class="social__link">
					<span class="visually-hidden">Facebook</span>
				</a>
			</li>
		</ul>
	</section>

	<section class="page-footer__payments payments">
		<h2 class="visually-hidden">Способы оплаты</h2>

		<ul class="payments__list">
			<li class="payments__item">
				<img src="#" alt="Qiwi" class="payments__img">
			</li>
			<li class="payments__item">
				<img src="#" alt="Mastercard" class="payments__img">
			</li>
			<li class="payments__item">
				<img src="#" alt="Visa" class="payments__img">
			</li>
			<li class="payments__item">
				<img src="#" alt="WebMoney" class="payments__img">
			</li>
			<li class="payments__item">
				<img src="#" alt="Яндекс.Деньги" class="payments__img">
			</li>
		</ul>
	</section>

	<section class="page-footer__contacts">
		<h2 class="visually-hidden">Контакты</h2>

		<ul class="contacts">
			<li class="contacts__item">
				<a href="tel:88121234567" class="contacts__link">812 123-45-67</a>
			</li>
			<li class="contacts__item">
				<a href="tel:89991234567" class="contacts__link">8 999 123-45-67</a>
			</li>
			<li class="contacts__item">
				<a href="mailto:hello@frontend-design.ru" class="contacts__link">hello@frontend-design.ru</a>
			</li>
		</ul>
	</section>

	<section class="page-footer__menu footer-menu">
		<h2 class="visually-hidden">Меню</h2>

		<div class="footer-menu__site">
			<h3 class="footer-menu__heading"><a href="" class="footer-menu__link">Информация</a></h3>
			<ul class="footer-menu__list">
				<li class="footer-menu__item">
					<a href="" class="footer-menu__link">О компании</a>
				</li>
				<li class="footer-menu__item">
					<a href="" class="footer-menu__link">Оплата и доставка</a>
				</li>
				<li class="footer-menu__item">
					<a href="" class="footer-menu__link">Наши клиенты</a>
				</li>
				<li class="footer-menu__item">
					<a href="" class="footer-menu__link">Обратная связь</a>
				</li>
				<li class="footer-menu__item">
					<a href="" class="footer-menu__link">Карта сайта</a>
				</li>
			</ul>

			<h3 class="footer-menu__heading"><a href="" class="footer-menu__link">Каталог</a></h3>
			<ul class="page-header__catalog-menu catalog-menu">
				<li class="catalog-menu__item">
					<a href="" class="catalog-menu__link">Ножи</a>
				</li>
				<li class="catalog-menu__item">
					<a href="" class="catalog-menu__link">Перчатки</a>
				</li>
				<li class="catalog-menu__item">
					<a href="" class="catalog-menu__link">Оборудование</a>
				</li>
				<li class="catalog-menu__item">
					<a href="" class="catalog-menu__link">Сети и аксессуары</a>
				</li>
				<li class="catalog-menu__item">
					<a href="" class="catalog-menu__link">Консерванты</a>
				</li>
				<li class="catalog-menu__item">
					<a href="" class="catalog-menu__link">Одежда</a>
				</li>
			</ul>
		</div>
	</section>

	<p class="page-footer__copyright">© 2020 M.COMMERCE</p>
	<p class="page-footer__dev dev">dev by <a href="https://frontend-design.ru/" class="dev__link">A. Trifonov</a></p>
</footer>
