:root {
	--color-primary: #e4003e;
	--color-secondary: #3d84bb;
	--color-purple: #5e2483;
	--color-white: #fff;
	--color-black: #000;
	--color-gray-50: #f3f3f3;

	// Breakpoints
	--breakpoint-medium: 768px;
	--breakpoint-large: 1000px;

	// Page content size
	--page-min-width: 320px;
	--page-max-width: 1200px;
}
