:root {
	// Primary colors
	--color-primary-hue: 344;
	--color-primary-saturation: 100%;
	--color-primary-lightness: 45%;
	--color-primary-alpha: 1;
	--color-primary: hsla(var(--color-primary-hue), var(--color-primary-saturation), var(--color-primary-lightness), var(--color-primary-alpha));

	// Secondary colors
	--color-secondary-hue: 206;
	--color-secondary-saturation: 50%;
	--color-secondary-lightness: 50%;
	--color-secondary-alpha: 1;
	--color-secondary: hsla(var(--color-secondary-hue), var(--color-secondary-saturation), var(--color-secondary-lightness), var(--color-secondary-alpha));

	// Breakpoints
	--breakpoint-medium: 768px;
	--breakpoint-large: 1000px;

	// Page content size
	--page-min-width: 320px;
	--page-max-width: 1200px;
}
